extends layout

block content
    .container.mt-3
        if success
            .alert.alert-success(role=alert) Message successfully scheduled.

        h1 Schedule Message

        p Current local time is #[b #{time}]
        p Current time in Japan is #[b #{japanTime}]

        form(action="/schedule", method="post" enctype="multipart/form-data")
            .mb-3
                label.form-label(for="messageTime") Time To Send Message (In JST)
                input.form-control(type="datetime-local", id="messageTime", name="messageTime", required)

            .mb-3
                label.form-label(for="messageText") Message Content
                textarea.form-control(id="messageText", rows="5", name="messageText")

            .mb-3
                label.form-label(for="messageTarget") Targeted Channel
                select.form-select(aria-label="Default select example", id="messageTarget", name="messageTarget")
                   each entry, index in Object.entries(channels)
                    - const [key, value] = entry
                        option(selected=(index === 0), value=value[1])= value[0]

            button.btn.btn-secondary.me-2(onclick='appendRoleText("830949159774191666")', type="button") Add GuestPings
            button.btn.btn-secondary.me-2(onclick='appendRoleText("775411371083956254")', type="button") Add LivePings
            button.btn.btn-secondary.me-2(onclick='appendRoleText("945962353567076362")', type="button") Add FanClubPings

            button.btn.btn-primary(type=submit) Schedule

    script.
        function appendRoleText(roleId) {
            document.getElementById("messageText").value += `<@&${roleId}>`
        }

